<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All roads</title>
</head>
<body class="container mt-5">
<h3>Choose the roads what do you want to repair</h3>
<form method="get" action="specified/" class="container mb-5">
  <input type="text" value="<%= @idrn %>" name="idrn" style="display: none">
  <% sum = 0.0 %>
  <% @roads.each do |r| %>
    <label for="<%= r.id %>"> pk <%= r.begin_pk %> - pk <%= r.end_pk %></label>
    <input type="checkbox" class="form-check" name="all[]" id="<%= r.id %>" value="<%= r.id %>">
    <% sum += (((r.end_pk - r.begin_pk) * 1000) * r.width * (r.profondeur / 100)) %>
  <% end %>
  <input type="submit" value="Next >" class="btn btn-primary">
</form>
<table class="table table-hover table-danger mt-5">
  <thead>
    <td>Name</td>
    <td>Penalty</td>
    <td>Speed</td>
    <td>Employee</td>
    <td>Price</td>
    <td>Age</td>
    <td>Quality</td>
    <td>CubeMeter*Price</td>
    <td>Quality/Price</td>
  </thead>
  <tbody>
    <% @presta.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.penalty %></td>
        <td><%= p.speed %> Hours</td>
        <td><%= p.emp %></td>
        <td><%= p.price %> Ariary</td>
        <td><%= p.anc %></td>
        <td><%= p.formulas %></td>
        <td><%= p.price*sum %></td>
        <td><%= p.formulas/p.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>
</html>