<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Specified</title>
</head>
<body class="container mt-5">
<% sum = 0.0 %>
<% @alls.each do |r| %>
  <h4 class="text-center"> pk <%= r.begin_pk %> - pk <%= r.end_pk %></h4>
  <% sum += (((r.end_pk - r.begin_pk) * 1000) * r.width * (r.profondeur / 100)) %>
<% end %>

<table class="table table-hover table-danger mt-5">
  <thead>
  <td>Name</td>
  <td>Penalty</td>
  <td>Speed</td>
  <td>Employee</td>
  <td>Price</td>
  <td>Age</td>
  <td>Quality</td>
  <td>CubeMeter*Price</td>
  <td>Quality/Price</td>
  </thead>
  <tbody>
  <% @presta.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.penalty %></td>
      <td><%= p.speed %> Hours</td>
      <td><%= p.emp %></td>
      <td><%= p.price %> Ariary</td>
      <td><%= p.anc %></td>
      <td><%= p.formulas %></td>
      <td><%= p.price*sum %></td>
      <td><%= p.formulas/p.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<a href="http://0.0.0.0:3000/home">< Back</a>
</body>
</html>